.actu {
  margin: 30px;
  color: white;
}
.actu article {
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  display: inline-block;
  background: white;
  width: calc(50% - 20px);
  padding: 30px;
  vertical-align: top;
  background: #353535;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}
@media screen and (max-width: 960px) {
  .actu article {
    width: 100%;
  }
}
.actu article:nth-child(2) {
  margin-left: 30px;
}
@media screen and (max-width: 960px) {
  .actu article:nth-child(2) {
    margin-left: 0;
    margin-top: 30px;
  }
}
.actu article h2 {
  font-family: 'Lagoon-semi';
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.actu article span.date {
  font-family: 'Lagoon', arial;
  font-weight: 400;
  font-weight: 100;
  font-size: 12px;
  line-height: 18px;
  color: white;
}
.actu article p {
  margin: 20px;
  font-family: 'Lagoon-semi', arial;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
}
.actu article button {
  cursor: pointer;
  border: 0;
  padding: 0 40px;
  height: 40px;
  line-height: 40px;
  background-color: #52d2d4;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 13px;
  color: #FFF;
  text-transform: uppercase;
  transition: background 0.5s ease;
}
.actu article button:hover {
  background: #30c0c3;
}
.photo {
  margin: 30px;
}
.photo article {
  text-align: left;
  border-bottom: 1px solid #d9d9d9;
  display: inline-block;
  background: white;
  width: 100%;
  padding: 30px;
  vertical-align: top;
}
.photo article:nth-child(2) {
  margin-left: 30px;
}
.photo article h2 {
  font-family: 'Lagoon-semi';
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.photo article span.date {
  font-family: 'Lagoon', arial;
  font-weight: 400;
  font-weight: 100;
  font-size: 12px;
  line-height: 18px;
  color: #999;
}
.photo article p {
  margin: 10px 20px 0 0;
  font-family: 'Lagoon-semi', arial;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
}
.photo article p:first-of-type {
  margin-top: 20px;
}
.stock-prices {
  margin: 30px;
}
.stock-prices article {
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  display: inline-block;
  background: white;
  width: calc(50% - 20px);
  padding: 30px;
  vertical-align: top;
}
.stock-prices article:nth-child(2) {
  margin-left: 30px;
}
.stock-prices article img {
  height: 50px;
  margin-top: 20px;
}
.stock-prices article h2 {
  font-family: 'Lagoon-semi';
  font-size: 20px;
  margin-bottom: 10px;
}
.stock-prices article span.date {
  font-family: 'Lagoon', arial;
  font-weight: 400;
  font-weight: 100;
  font-size: 12px;
  line-height: 18px;
  color: #999;
}
.stock-prices article p {
  margin: 20px;
  font-family: 'Lagoon-semi', arial;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
}
.stock-prices article button {
  cursor: pointer;
  border: 0;
  padding: 0 40px;
  height: 40px;
  line-height: 40px;
  background-color: #52d2d4;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 13px;
  color: #FFF;
  text-transform: uppercase;
  transition: background 0.5s ease;
}
.stock-prices article button:hover {
  background: #30c0c3;
}
.title {
  width: 50%;
  margin: 50px auto 20px auto;
  text-align: center;
}
.title h1 {
  font-family: 'Lagoon-semi';
  font-size: 26px;
  font-weight: 100;
  margin-bottom: 20px;
}
.content {
  margin: 40px auto 50px auto;
  text-align: center;
}
.table {
  margin: 30px;
}
.table table {
  width: 100%;
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: 400;
  font-size: 10px;
  line-height: 25px;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;
  border-collapse: collapse;
}
.table table tr {
  background: #eeeeee;
}
.table table tr.linked .link span {
  opacity: 1;
}
.table table tr.label {
  font-family: 'Lagoon', arial;
  font-size: 12px;
  margin-bottom: 20px;
  color: #000;
  background: transparent;
}
.table table tr.label th {
  padding: 0 0 20px 0;
  text-align: center;
}
.table table tr:nth-child(even) {
  background: #f8f8f8;
}
.table table tr:nth-child(even).special .name {
  background: #61b7e4;
}
.table table tr:nth-child(even) .name {
  background: #4bd8db;
}
.table table tr:nth-child(even) td:nth-child(even) {
  background: white;
}
.table table tr.special .name {
  background: #36a3dc;
}
.table table tr td {
  text-align: left;
  padding: 10px 30px;
}
.table table tr td:nth-child(even) {
  background: #f4f4f4;
}
.table table tr .name {
  width: 40%;
  background: #29c7ca;
  color: white;
}
.table table tr .country {
  padding: 5px 30px;
}
.table table tr .dates {
  padding: 5px 30px;
}
.table table tr .models {
  padding: 5px 30px;
}
.table table tr .link {
  padding: 5px 10px;
  text-align: center;
}
.table table tr .link span {
  opacity: .5;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  background: url("../img/common/events/link.png") no-repeat center;
  background-size: 25px;
}
.organize article {
  position: relative;
  background: #90a0bd;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  display: inline-block;
  color: white;
  width: 100%;
  padding: 60px 30px;
  vertical-align: top;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
.organize article h2 {
  font-family: 'Lagoon-semi';
  font-size: 26px;
  font-weight: 100;
  margin-bottom: 10px;
}
.organize article p {
  margin: 20px;
  font-family: 'Lagoon-semi', arial;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
}
.organize article button {
  cursor: pointer;
  border: 0;
  padding: 0 40px;
  height: 40px;
  line-height: 40px;
  background-color: #52d2d4;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 13px;
  color: #FFF;
  text-transform: uppercase;
  transition: background 0.5s ease;
}
.organize article button:hover {
  background: #30c0c3;
}
