.specs .lateral-list {
  width: 250px;
  background: white;
  margin: 0;
  display: inline-block;
  height: 100%;
}
.specs .lateral-list ul {
  padding: 0;
  margin: 0;
}
.specs .lateral-list ul a li {
  display: block;
  font-size: 10px;
  font-family: "Lagoon";
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid #f5f5f5;
  height: 50px;
  transition: background 0.5s ease;
}
.specs .lateral-list ul a li:before {
  margin-right: 10px;
  content: '';
  width: 30px;
  margin-top: -3px;
  height: 20px;
  display: block;
  float: left;
  background: url("../img/common/specs/folder-icon-grey.png") no-repeat center;
  background-size: 25px;
}
.specs .lateral-list ul a li.active {
  background: #00adbb;
  color: white;
}
.specs .lateral-list ul a li.active:before {
  background: url("../img/common/specs/folder-icon-white.png") no-repeat center;
  background-size: 30px;
}
.specs .lateral-list ul a li:hover {
  background: #00dcee;
}
.specs .content {
  padding-top: 50px;
  vertical-align: top;
  width: calc(100% - 255px);
  display: inline-block;
  text-align: center;
}
.specs .content button {
  border: 0;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  background-color: #00adbb;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 13px;
  color: #FFF;
  text-transform: uppercase;
  transition: background 0.5s ease;
  margin-bottom: 20px;
}
@media screen and (max-width: 960px) {
  .specs .content button {
    position: relative;
  }
}
.specs .content button:hover {
  background: #007e88;
}
.specs .content button img {
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: -5px;
}
.specs .content .title {
  width: 55%;
  margin: 0px auto 30px auto;
  text-align: center;
}
.specs .content .title h1 {
  font-family: 'Lagoon-semi';
  font-size: 26px;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 20px;
}
.specs .content .title p {
  font-family: 'Lagoon-semi', arial;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
}
.specs .documents {
  margin: 30px;
  text-align: left;
}
.specs .documents article {
  margin-bottom: 10px;
  display: inline-block;
  width: calc(50% - 20px);
  background: white;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px;
  transition: background 0.5s ease;
}
@media screen and (max-width: 960px) {
  .specs .documents article {
    width: 100%;
  }
}
.specs .documents article:hover {
  background: #e0e0e0;
}
.specs .documents article:nth-child(even) {
  margin-left: 30px;
}
@media screen and (max-width: 960px) {
  .specs .documents article:nth-child(even) {
    margin-left: 0px;
  }
}
.specs .documents article .image-doc {
  width: 30px;
  background: red;
  height: 35px;
  display: block;
  float: left;
  margin-right: 10px;
  vertical-align: bottom;
}
.specs .documents article .image-doc.ppt {
  background: url("../img/common/specs/ppt-icon.png") no-repeat center;
  background-size: 35px;
}
.specs .documents article .image-doc.pdf {
  background: url("../img/common/specs/pdf-icon.png") no-repeat center;
  background-size: 35px;
}
.specs .documents article .image-doc.doc {
  background: url("../img/common/specs/doc-icon.png") no-repeat center;
  background-size: 35px;
}
.specs .documents article .container {
  position: relative;
  display: inline-block;
  width: calc(100% - 40px);
}
.specs .documents article .container h2 {
  margin: 5px 0 0 0;
  text-transform: uppercase;
  font-family: 'Lagoon', arial;
  font-weight: 700;
  font-size: 10px;
  line-height: 10px;
}
.specs .documents article .container .date {
  font-family: 'Lagoon', arial;
  font-weight: 400;
  font-size: 8px;
  line-height: 18px;
  color: #999999;
}
.specs .documents article .container .lang {
  font-family: 'Lagoon-semi', arial;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  margin: 0;
  float: right;
}
.specs .documents article .container .lang ul {
  margin: 0;
}
.specs .documents article .container .lang ul li {
  text-align: center;
  line-height: 30px;
  display: inline-block;
  background: #CCCCCC;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  list-style: none;
}
